<div class="center">
  <div class="signIn">
  <%= image_tag "divider-fade.png" %>
  <span class="title">Sign In</span>
  <%= image_tag "divider-fade.png", class: "flip" %>
  </div>
  <%= form_with url: "/users" do |form| %>
    <%= text_field_tag :name %>
    <%= button_to "Submit" %>
  <% end %>
  <div>
    <div class="elem">Continue</div>
    <div class="elem">New Game</div>
    <div class="elem">About</div>
  </div>
</div>
