<div data-controller="race-selector" data-race-selector-opts-value='<%= User.races %>' data-race-selector-current-value='<%= Current.user.race %>'>
<%= form_with model: Current.user, method: :put, class: "center" do |form| %>
  <h3>Name</h3>
  <%= form.text_field :name, disabled: true %>
  <h3>Race</h3>
    <%= render partial: "shared/race_selector" %>
    <%= form.hidden_field :race, value: Current.user.race, data: { "race-selector-target": "hiddenField" } %>
  <%= form.submit %>
<% end %>
</div>
