<!DOCTYPE html>
<html>
  <head>
    <title>AuctionHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="game">
      <%= render partial: "shared/header" if Current.user.present? %>
    <%= yield %>
    </div>
  </body>
</html>
